body {
    font-family: Arial, sans-serif;
    direction: rtl;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 20px;
}

nav .home-button {
    background-color: #f4f4f4;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

nav .home-button:hover {
    background-color: #ddd;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.tool-selection {
    text-align: center;
}

.tool-selection h2 {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    background-color: #333;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
