body {
    background: url('../../photos_web/pa2.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    width: 300px;
    margin: 50px auto 50px 100px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 0.1);
}

.or-word {
    position: fixed;
    bottom: 80px;
    right: 80px;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 45px;
    color: #000;
}

.qwe {
    position: fixed;
    top: 0;
    right: 0;
}

.login-link, .home-button {
    position: fixed;
    bottom: 20px;
    padding: 15px 25px;
    background-color: #008080;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: none;
    outline: none;
    font-size: 18px;
}

.login-link:hover, .home-button:hover {
    background-color: #45a049;
}

.login-link {
    right: 100px;
}

.home-button {
    left: 70px;
}

.login-link a, .home-button a {
    color: #000000;
    text-decoration: none;
}

form {
    display: grid;
    gap: 15px;
}

label {
    display: block;
    text-align: right;
    color: #333;
    margin-bottom: 7px;
}

input, select {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #35822c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
